<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Category Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        h1 {
            text-align:center;
            background-color: cyan;
        }
        .btn {
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Item Category</h1>
<script>
    document.getElementById("mes").innerHTML = "";
</script>
<div class="container">
    <form method="GET">
        <div class="form-group">
            <label for="ccode">Category Code:</label>
            <input type="text" name="catcode" class="form-control" id="ccode" th:attr="value = ${id}" >
        </div>
        <div class="form-group">
            <label for="cdesc">Description:</label>
            <input type="text" name="catdesc" class="form-control" id="cdesc" th:attr="value = ${desc}">
        </div>
        <a class="btn btn-success" href="add-todo">Add</a>
    </form>
    <h1 th:text="${errorMessage}" id="mes">Test</h1>
    <div class="container2">
        <h2>Categories</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Category Code</th>
                <th>Category Description</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar  id="categorylist"  type=""*/-->
            <tr th:each="p:${categorylist}">
                <td th:text="${p.catcode}"></td>
                <td th:text="${p.catdesc}"></td>
                <td> <a type="button" class="btn btn-primary"  href="update-todo?id=${todo.catcode}"  th:href="@{update-todo(id=${p.catcode})}">Edit</a> </td>
                <td> <a type="button" class="btn btn-primary"  th:href="@{delete-todo(id=${p.catcode})}"  >Delete</a> </td>
                <td> <a type="button" class="btn btn-primary"  th:onmouseout="'myFunction()'"  th:href="@{see-todo(id=${p.catcode})}" >Items</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script >
    function myFunction() {
        document.getElementById("mes").innerHTML = "";
    }
</script>
</body>
</html>