<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>BC - Bear Chefs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <button type="button" class="btn">Login</button>
        <button type="button" class="btn">Sign Up</button>
    </nav>

    <!-- Image Carousel -->
    <div id="image-carousel">
        <!-- Add your carousel code and images here -->
        <p>Image here</p>
    </div>

    <!-- Recent Favorites Section -->
    <section id="recent-favorites">
        <h2>Recent Favorites</h2>
        <div class="favorite-images">
            <!-- Add five recent favorite images here -->

        </div>
    </section>
    <hr>
    <!-- Image with Text Section -->
    <section id="image-with-text">
        <div class="image">
            <!-- Add your image here -->
            <img src="https://cdn.pixabay.com/photo/2017/08/10/14/09/restaurant-2623071_1280.jpg">
        </div>
        <div class="text">
            <p>Text on the right side of the image.</p>
        </div>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>about us</h3>
                <p> Texto falando o quao incrivel somos :)
                </p>
                <p>&copy; BC - Bear Chefs</p>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="index.html">home</a>
                <a href="#">about us</a>
                <a href="#">terms</a>
                <a href="#">privacy</a>
                <a href="#">help</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="#">Facebook</a>
                <a href="#">Tik Tok</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </section>
</body>
</html>