/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style the image carousel */
#image-carousel {
    /* Add your carousel styling here */
}

/* Style the Recent Favorites section */
#recent-favorites {
    padding: 20px;
}

#recent-favorites h2 {
    font-size: 24px;
}

.favorite-images {
    display: flex;
    justify-content: space-between;
}

.favorite-images img {
    max-width: 20%;
    margin: 10px;
}

/* Style the Image with Text section */
#image-with-text {
    display: flex;
    align-items: center;
    padding: 20px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
}

.text {
    flex: 1;
    padding: 20px;
}

/* Style the footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
    text-transform: uppercase;
}