body { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.main-container {    
    width: 500px;
   /* width: 75%;  for responsive */
    display: flex;
    flex-direction: column;
}

.options-bar {
    width: 100%;
    background-color:gray;
    border-bottom: 2px solid #ccc;
}

.options-bar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.options-bar li {
    margin: 10px;
}

.options-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.account-info {    
    padding: 20px;
    background-color:gray;
    border-top: 2px solid #ccc;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .options-bar ul {
        flex-direction: column; /* Change to a column layout */
        align-items: center; /* Center items horizontally */
    }
}