/* Reset and base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #f0f0f0;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e44d26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav ul li a:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

.logo {
    max-width: 50px;  
}

.logo img {
    max-width: 50px; /* Adjust the value as needed */
}

#logo {
    max-width: 50px;  
}

#logo img {
    max-width: 50px; /* Adjust the value as needed */
}

/* Main content styles */
/*Viewport width is a unit that represents a percentage of the viewport's width. 
Using vw for padding makes it responsive to the width of the viewport.*/
main {
    padding: 2vw 7vw;    
    flex-grow: 1; 
}

/* Footer styles */
footer {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 20px 20px;
    background-color: #f8f8f8;
}

.hero h1 {
    color: #333;
}

.hero p {
    color: #555;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e44d26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero a:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}

.empty {
    background-color: transparent;
    padding: 1vw;
}

/* How it Works section styles */
.how-it-works {
    padding: 20px 40px;
    background-color: #f8f8f8;
}

.how-it-works h2 {
    text-align: center;
    color: #e44d26;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.step {
    flex-basis: calc(33.33% - 20px);
    padding-bottom: 30px;
    text-align: center;
}

.step img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-bottom: 10px;
}

.step p {
    margin: 0;
}

.step a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e44d26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.step a:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}

/* Chefs section styles */
.chefs h2 {
    margin-bottom: 25px;
    color: #e44d26;
    text-align: center;    
}

.chef-profile {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.chef-profile img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.chef-profile h3 {
    color: #e44d26;
}


/* Social Media section styles */
.social-media {
    padding: 40px 0;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Become a Chef Section */
.become-a-chef {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

.become-a-chef h2 {
    color: #e44d26;
}

.become-a-chef p {
    margin-bottom: 20px;
    color: #555;
}

.become-a-chef .chef-info img {
    width: 70%;   
}

.chef-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chef-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e44d26;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.chef-info a:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}

.chef-image {
    flex-basis: 40%;
    margin-right: 20px;
}

.chef-image img {
    width: 100%;
    border-radius: 5px;
}

.chef-details {
    flex-basis: 60%;
    text-align: left;
}

.chef-details h3 {
    color: #e44d26;
}

.chef-details p {
    color: #555;
}

/* Form container for the login/register activity */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
}

.container .content{
    text-align: center;
}

.container .content h3{
    font-size: 30px;
    color:#333;
}

.container .content p{
    font-size: 20px;
    margin-bottom: 20px;
}

.form-container{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: rgb(254, 221, 209);
    text-align: center;
    width: 500px;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
}

.form-container form input,
.form-container form select {
    width: 75%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0px;
    background: #eee;
    border-radius: 5px;
    box-sizing: border-box; 
    appearance: none; 
}

.form-container form .form-btn{
    background: #e44d26;
    color:white;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
}

.form-container form p a{
    color:orangered;
}

.form-container form .error-msg{
    margin: 0px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 2px;
    font-size: 20px;
    padding:5px;
}
/* Search page */
.search h2{
    font-size: 35px;
    margin-bottom: 10px;
    color:orangered;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.search h3{
    color:orangered;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.search #andmore{
    margin-bottom: 15px;
    color: black;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.search-users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-user {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
    box-sizing: border-box; 
    border-radius: 5px;
    background-color: #f8d0c5;
    padding-left: 1.5%;
    padding-bottom: .5%;
    display: flex;
    align-items: center;
}

.search-user img{
    width: 150px; 
    height: auto;
    margin-right: 10px;
}

.search-user p{
    padding: .3px;
}

.search-user a{
    text-decoration: none;
    background: #e44d26;
    color:white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px; 
}

.search-user a:hover{
    background: rgb(143, 43, 6);
    color:#fff;
}
/* Clearfix to handle the floating elements */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
        justify-content: flex-start;
    }

    nav ul li {
        margin-right: 10px;
    }

    .chefs,
    .chef-steps li {
        flex-basis: 100%;
    }

    .search-users-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-user {
        width: calc(50% - 10px);
    }
}
